/* .hero-background {
    background-image: url('https://ugcmmttc.uoc.ac.in/images/banner_3.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .hero-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  
  .container {
    position: relative;
    z-index: 2; 
  } */
  

  .container {
    max-width: 1140px; /* Adjust to your needs */
  }
  
  .rounded-lg-3 {
    border-radius: 0.5rem; /* Optional rounded corners */
  }