/* .hero-background {
    background-image: url('https://ugcmmttc.uoc.ac.in/images/banner_3.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .hero-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  
  .container {
    position: relative;
    z-index: 2; 
  } */
  

  .container {
    max-width: 1140px; /* Adjust to your needs */
  }
  
  .rounded-lg-3 {
    border-radius: 0.5rem; /* Optional rounded corners */
  }


  
/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
a{
    text-decoration:none !important;    
}

.footer{
  background:#eee;
}